* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  position: absolute;
  max-width: 100%;
}

body {
  background-color: #f1e4c3;
  font-family: "Inter", sans-serif;
}

header {
  text-align: center;
}
header img {
  text-align: center;
  align-items: center;
  width: 60vw;
  height: auto;
}
.lead-polaroid {
  width: 45vw;
  height: 27vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.lead-img img {
  width: 45vw;
}

.label {
  width: 100%;
  background-color: aquamarine;
}

.label h2 {
  margin-bottom: 20px;
  font-weight: bold;
}

.label p {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000000;
  text-align: center;
}

.lead-and-intro-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  margin-left: 10px;
}

.intro-text {
  width: 45vw;
  margin-left: 20px;
  padding-top: 10px;
}
.other-polaroids {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
}
#polaroid1 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(13deg);
  position: relative;
  left: 15px;
  top: 0px;
}

#polaroid2 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-23deg);
  margin-top: 30px;
  position: relative;
  left: 10px;
  top: 20px;
}

#polaroid3 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-15deg);
  margin-top: 30px;
  position: absolute;
  right: 240px;
  top: 710px;
}

#polaroid4 {
  z-index: -1;
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(7deg);
  margin-top: 30px;
  position: absolute;
  right: -10px;
  top: 730px;
}

#polaroid6 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(20deg);
  margin-top: 30px;
  position: absolute;
  right: 20px;
  top: 1000px;
}

#polaroid5 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(12deg);
  margin-top: 30px;
  position: absolute;
  left: -10px;
  top: 960px;
  z-index: 1;
}

#polaroid7 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-4deg);
  margin-top: 30px;
  position: absolute;
  left: -10px;
  top: 1230px;
}

#polaroid8 {
  z-index: 0;
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(14deg);
  margin-top: 30px;
  position: absolute;
  left: -10px;
  top: 1480px;
}

#polaroid9 {
  z-index: -1;
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(1deg);
  margin-top: 30px;
  position: absolute;
  right: 0px;
  top: 1280px;
}

#polaroid10 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-10deg);
  margin-top: 30px;
  position: absolute;
  right: 0px;
  top: 1550px;
}

.polaroid-img img {
  width: 40vw;
}
