* {
  margin: 0;
  padding: 0;
}

html {
  overflow-x: hidden;
  position: absolute;
}

body {
  background-color: #f1e4c3;
  font-family: "Inter", sans-serif;
}

header {
  text-align: center;
}
header img {
  text-align: center;
  align-items: center;
  width: 60vw;
  height: auto;
}
.lead-polaroid {
  width: 45vw;
  height: 27vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #829460;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
}

.lead-img img {
  width: 45vw;
}

.label {
  width: 100%;
  background-color: #f1e4c3;
  height: 35px;
}

.label p {
  font-family: "Inter", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  font-weight: bold;
  margin-top: 3px;
}

.lead-and-intro-text {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 20px;
  margin-left: 10px;
}

.intro-text {
  width: 50vw;
  padding-left: 40px;
  padding-top: 10px;
  color: #b99470;
}

.intro-text h2 {
  margin: 10px;
  font-size: 30px;
}

.intro-text li {
  margin-bottom: 7px;
  font-weight: 600;
  font-size: 20px;
}

.other-polaroids {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
}
#polaroid1 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(13deg);
  position: relative;
  left: 15px;
  top: 0px;
}

#polaroid2 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #90a17d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-23deg);
  margin-top: 30px;
  position: relative;
  left: 10px;
  top: 20px;
}

#polaroid3 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #90a17d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-15deg);
  margin-top: 30px;
  position: absolute;
  right: 240px;
  top: 710px;
}

#polaroid4 {
  z-index: -1;
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(7deg);
  margin-top: 30px;
  position: absolute;
  right: -10px;
  top: 730px;
}

#polaroid6 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #829460;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(20deg);
  margin-top: 30px;
  position: absolute;
  right: 20px;
  top: 1000px;
}

#polaroid5 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #829460;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(12deg);
  margin-top: 30px;
  position: absolute;
  left: -10px;
  top: 960px;
  z-index: 1;
}

#polaroid7 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-4deg);
  margin-top: 30px;
  position: absolute;
  left: -10px;
  top: 1230px;
}

#polaroid8 {
  z-index: 0;
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #829460;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(14deg);
  margin-top: 30px;
  position: absolute;
  left: -10px;
  top: 1480px;
}

#polaroid9 {
  z-index: -1;
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #90a17d;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(1deg);
  margin-top: 30px;
  position: absolute;
  right: 0px;
  top: 1280px;
}

#polaroid10 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-10deg);
  margin-top: 30px;
  position: absolute;
  right: 0px;
  top: 1550px;
}

#polaroid11 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-10deg);
  margin-top: 30px;
  position: absolute;
  right: 300px;
  top: 1770px;
}

#polaroid12 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(13deg);
  margin-top: 30px;
  position: absolute;
  right: 60px;
  top: 1830px;
}

#polaroid13 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(10deg);
  margin-top: 30px;
  position: absolute;
  right: 270px;
  top: 2050px;
}

#polaroid14 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-10deg);
  margin-top: 30px;
  position: absolute;
  right: 0px;
  top: 2100px;
}

#polaroid15 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-23deg);
  margin-top: 30px;
  position: absolute;
  right: 300px;
  top: 2340px;
}

#polaroid16 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  margin-top: 30px;
  position: absolute;
  right: 0px;
  top: 2350px;
}

#polaroid17 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-10deg);
  margin-top: 30px;
  position: absolute;
  right: 0px;
  top: 2620px;
}

#polaroid18 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(26deg);
  margin-top: 30px;
  position: absolute;
  right: 310px;
  top: 2580px;
  z-index: -1;
}

#polaroid19 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(0deg);
  margin-top: 30px;
  position: absolute;
  right: 280px;
  top: 2870px;
}

#polaroid20 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(27deg);
  margin-top: 30px;
  position: absolute;
  right: 20px;
  top: 2900px;
}

#polaroid21 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-10deg);
  margin-top: 30px;
  position: absolute;
  right: 300px;
  top: 3130px;
}

#polaroid22 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-30deg);
  margin-top: 30px;
  position: absolute;
  right: 14px;
  top: 3140px;
}

#polaroid23 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(3deg);
  margin-top: 30px;
  position: absolute;
  right: 300px;
  top: 3400px;
}

#polaroid24 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(19deg);
  margin-top: 30px;
  position: absolute;
  right: 70px;
  top: 3470px;
}

#polaroid25 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-10deg);
  margin-top: 30px;
  position: absolute;
  right: 10px;
  top: 3710px;
}

#polaroid26 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(12deg);
  margin-top: 30px;
  position: absolute;
  right: 280px;
  top: 3700px;
}

#polaroid27 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-10deg);
  margin-top: 30px;
  position: absolute;
  right: 0px;
  top: 1550px;
}

#polaroid28 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-10deg);
  margin-top: 30px;
  position: absolute;
  right: 0px;
  top: 1550px;
}

#polaroid29 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-10deg);
  margin-top: 30px;
  position: absolute;
  right: 0px;
  top: 1550px;
}

#polaroid30 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-10deg);
  margin-top: 30px;
  position: absolute;
  right: 0px;
  top: 1550px;
}

#polaroid31 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-10deg);
  margin-top: 30px;
  position: absolute;
  right: 0px;
  top: 1550px;
}

#polaroid32 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-10deg);
  margin-top: 30px;
  position: absolute;
  right: 0px;
  top: 1550px;
}

#polaroid33 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-10deg);
  margin-top: 30px;
  position: absolute;
  right: 0px;
  top: 1550px;
}

#polaroid34 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-10deg);
  margin-top: 30px;
  position: absolute;
  right: 0px;
  top: 1550px;
}

#polaroid35 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-10deg);
  margin-top: 30px;
  position: absolute;
  right: 0px;
  top: 1550px;
}

#polaroid36 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-10deg);
  margin-top: 30px;
  position: absolute;
  right: 0px;
  top: 1550px;
}

#polaroid37 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-10deg);
  margin-top: 30px;
  position: absolute;
  right: 0px;
  top: 1550px;
}

#polaroid38 {
  width: 40vw;
  height: 24vh;
  transform-origin: center center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  background-color: #b99470;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  transform: rotate(-10deg);
  margin-top: 30px;
  position: absolute;
  right: 0px;
  top: 1550px;
}

.polaroid-img img {
  width: 40vw;
}

.img1 {
  position: absolute;
  right: -30px;
  top: 1210px;
  width: 40vw;
  z-index: -1;
}

.img2 {
  position: absolute;
  right: -30px;
  top: 340px;
  width: 40vw;
  z-index: -1;
}

.img3 {
  position: absolute;
  right: 60px;
  top: 580px;
  z-index: -2;
}

.img4 {
  position: absolute;
  right: 90px;
  top: 1300px;
  z-index: -2;
}

.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.popup-content {
  background-color: #f1e4c3;
  margin: 7% auto;
  width: 84%;
  position: relative;
  top: 30%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 38px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.popup-content img {
  width: 40vw;
  border: #829460 3vw solid;
}

.popup-content p {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  font-weight: bold;
  margin-top: 3px;
  margin-right: 20px;
  color: #b99470;
}

.popup-content .close {
  padding-right: 10px;
  padding-top: 3px;
  margin-bottom: 10px;
}

.popup-content h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  font-weight: bold;
  margin-top: 3px;
  background-color: #829460;
  color: #f1e4c3;
  width: 70%;
  margin-left: 10%;
}

.pop-up-contents-indiv {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px;
  margin-left: 10px;
  padding-top: 30px;
  padding-left: 2px;
  padding-right: 10px;
}

.project-desc {
  padding-left: 15px;
  padding-right: 0px;
  padding-bottom: 20px;
}

.project-desc h2 {
  font-size: 1.5rem;
  font-weight: 700;
  text-align: center;
  font-weight: bold;
  margin-top: 3px;
  color: #f1e4c3;
  width: 70%;
  margin-bottom: 10px;
  padding: 3px;
  border: 1px solid #829460;
}

.project-desc p {
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  font-weight: bold;
  margin-top: 3px;
  color: #b99470;
}
